/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/**
 * Основные настройки
 */
.breadcrumbs{
  margin: 20px 0px;
}
.breadcrumbs a.active{
  color: #333;
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  position: absolute;
  width: 100%;
  min-width: 500px;
  z-index: 10;
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right:  5px solid transparent;
  border-bottom: 5px solid;
  border-left:   5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 14px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 5px 15px;
  margin: 0 -25px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 30px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

/**
 * Menu
 */
.blog-menu{
  list-style-type: none;
  padding-left: 10px;
}
.blog-menu h3{
  margin: 0px;
}
.blog-menu li h3 small{
  font-size: 12px !important;
  padding-top: 7px;
}
.blog-menu li small{
  color: #a0a0a0;
}

/**
 * Portfolio
 */
 .blog-portfolio{
  border:1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
  cursor: pointer;
  height: 190px;
 }
.blog-portfolio:hover{
  border:1px solid #428bca;
}
.blog-portfolio-image{
  background-color: #c0c0c0;
  border-radius: 4px 4px 0px 0px;
  height: 165px;
  overflow: hidden;
}
.blog-portfolio-image-alt{
  position: absolute;
  width: 200px;
  height: 165px;
  display: none;
}
.prtf-background{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #428bca;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
}
.prtf-alt{
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 24px;
  z-index: 10;
  text-align: center;
  padding-top: 50px;
}
.blog-portfolio-preview{
  padding: 0px 2px!important;
  margin-bottom: 10px;
  width: 210px;
  display: inline-block;
}
.blog-portfolio-preview span{
  padding-top: 1px;
  padding-right: 1px;
}

/**
 * Blog
 */
img.example{
  background-color: #c0c0c0;
  width: 150px;
  height: 150px;
}
.blog-post-block{
  width: 566px;
  margin-bottom: 20px;
  padding: 3px 15px;
}
.blog-post-block h3{
  margin-top: 0px;
  width: 460px;
}
.blog-post-block h3 small{
  font-size: 12px !important;
  margin-left: 15px;
}
.blog-textarea{
  height: 132px!important;
  margin-bottom: 10px;
}
.blog-submit{
  padding-left: 10px;
}
.blog-item{
  width: 718px;
  min-height: 160px;
}
.blog-subscribe{
  margin-bottom: 20px;
}

.blog-search{
  width: 233px;
  margin: 0px -10px;
}


.panel-primary{
  border-color: #ccc!important;
}

#search-button{
  height: 34px;
  background-color: #fff;
  border: 1px solid #c0c0c0;
  border-radius: 0px 4px 4px 0px;
  margin-left: -1px;
}
#search-button:hover{
  border: 1px solid #428bca;
}
.search-input{
  width: 205px!important;
  border-radius: 4px 0px 0px 4px;
}
.search-input-full{
  width: 90%!important;
  margin-left: 10px;
  border-radius: 4px 0px 0px 4px;
}
.search-block{
    margin: 20px 0px;
}

#up-top{
  font-size: 46px;
  position: fixed;
  left: 10px;
  bottom: 120px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  padding: 8px 8px 0px 11px;
  color: #c0c0c0;
  cursor: pointer;
}
#up-top:hover{
  border: 1px solid #428bca;
  color: #a0a0a0;
}
.icon{
  cursor: pointer;
}

/**
 * Post
 */
.post-block{
  width: 100%;
  padding: 0px 10px 30px;
}
.post-block h1{
    margin-bottom: 40px;
}
.post-image{
  float: left;
  margin: 10px 20px 20px 0px;
}
.post-image > img{
  width: 200px;
  height: 200px;
}
.post-tags{
  width: 100%;
  margin-bottom: 10px;
}
.post-tags > span{
  border: 1px solid #c0c0c0;
  border-radius: 15px;
  padding: 8px;
  margin: 4px;
}
.post-tags > span:hover{
  border-color: #428bca;
}

/**
 * Social
 */
.social{
  float: right;
  margin-bottom: 20px
}

/**
 * Rating
 */
.rating-total{
  position: absolute;
  right: 20px;
  top: 30px;
}
.rating-total>span, .rating-total>a>span{
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  padding: 5px;
}
.rating-total>span:hover, .rating-total>a>span:hover{
  border-color: #428bca;
}
.rating-total>a{
    text-decoration: none;
}
.rating-total>a>span{
    border-color: orange;
}

/**
 * Contacts
 */
.contact-info{
  width: 200px;
  font-size: 18px;
  margin-top: 20px;
}
.contact-info li{
  list-style-type: none;
  margin-bottom: 10px;
  cursor: pointer;
}
.contact-info ul{
  padding: 0px;
}
.contact-info i{
  margin-right: 15px;
}

.contact-description{
  width: 490px;
}
.contact-description div{
  width: 330px;
  height: 20px;
  float: left;
}
.contact-photo{
  float: right;
  margin: -43px 0px 10px 10px;
}

/**
 * Price
 */
.price-block{
  width: 728px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
}
img.example-icon{
  background-color: #c0c0c0;
  width: 60px;
  height: 60px;
}
.price-info-short{
  float: left;
  width: 140px;
  padding-top: 5px;
}
.price-info-short img{
  margin: 0px 30px;
}
.price-info-short ul{
  padding-top: 10px;
  padding-left: 5px;
}
.price-info-short li{
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 5px;
}
.price-info-short i{
  margin-right: 6px;
}
.price-info-description{
  float: left;
  width: 570px;
  padding: 5px 5px 0px 20px;
  border-left: 3px solid #c0c0c0;
}
.proce-button{
  padding-top: 10px;
  padding-bottom: 10px;
}

/**
 * Portfolio
 */
.prtf-block{
  width: 728px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
}
.prtf-info{
  float: left;
  width: 150px;
  padding-top: 5px;
}
.prtf-info ul{
  padding-left: 25px;
}
.prtf-info li{
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 5px;
  padding-left: 20px;
}
.prtf-info li:first-child{
  padding-left: 0px;
}
.prtf-info i{
  margin-right: 6px;
}
.prtf-info a{
    font-size: 12px;
}
.prtf-info a.button{
    font-size: 16px;
    text-decoration: none;
    border: 1px solid orange;
    border-radius: 10px;
    padding: 3px 5px;
    margin-left: -5px;
}
.prtf-info a.button:hover{
    border-color: #428bca;
}
.prtf-description{
  float: left;
  width: 560px;
  padding: 5px 5px 0px 20px;
  border-left: 3px solid #c0c0c0;
}

/**
 * Portfolio list
 */
.prtf-list-block{
  padding: 0px 2px!important;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 330px;
  display: inline-block;
}
.prtf-list-preview{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
  cursor: pointer;
  height: 240px;
}
.prtf-list-image{
  background-color: #c0c0c0;
  border-radius: 4px 4px 0px 0px;
  height: 205px;
  overflow: hidden;
}
.prtf-list-image-alt{
  position: absolute;
  width: 320px;
  height: 205px;
  display: none;
}
.prtf-list-preview > span > span.icon{
  margin-left: 10px;
  margin-left: 5px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  padding: 3px 4px;
}
.prtf-list-preview > span > span.icon:hover{
  border: 1px solid #428bca;
}
.prtf-list-preview > span > span.icon>span{
  margin-left: 5px;
}
.prtf-list-preview > span.pull-right{
  margin-top: 4px;
}

/**
 * Gallery
 */
.gallery-button{
  position: relative;
}
.gallery-button a{
  text-decoration: none;
}
.gallery-button a span{
  width: 50px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  font-size: 35px;
  color: #c0c0c0;
  cursor: pointer;
  display: none;
}
.gallery-button a span:hover{
  border-color: #428bca;
}
.gallery-button a:first-child{
  position: absolute;
  top: -136px;
  left: 0px;
}
.gallery-button a:last-child{
  position: absolute;
  top: -136px;
  right: 0px;
}
.item img{
  width: 200px;
  height: 200px!important;
  float: left;
  margin-right: 20px;
  cursor: pointer;
  overflow: hidden;
}
.carousel-inner{
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 45px;
}

.code-block{
  float: left;
  width: 100%;
}
.code-frame{
  width: 100%;
  height: 200px;
  border: 1px solid #c0c0c0;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-right:10px;
  margin-bottom: 20px;
  overflow-y: scroll;
}
.code-frame pre{
  border: 0px!important;
}

/**
 * Comment
 */
.comment-block{
  width: 728px; 
}
.comment-avatar{
  width: 90px;
  padding-left: 10px;
  float: left;
}
.comment-avatar img{
  width: 60px;
  height: 60px;
}
.comment-info{
  width: 630px;
  padding: 0px 3px;
  float: left;
  margin: 0px 0px 30px;
}
.comment-info-description{
  width: 570px;
  float: left;
}
.comment-rating{
  width: 50px;
  float: left;
  margin-top: 10px;
}
.comment-rating a:first-child{
  position: relative;
  font-size: 12px;
}
.comment-rating a:nth-child(2){
  position: relative;
  top: 20px;
  left: -14px;
  font-size: 12px;
}
.comment-rating span{
  position: relative;
  top: 8px;
  left: -14px;
  font-weight: bold;
}
.comment-date{
  font-weight: bold;
}
.comment-write{
  margin: 30px 0px;
}
.comment-textarea{
  height: 125px!important;
  margin-bottom: 10px;
}
.comment-write img, .blog-subscribe img{
    cursor: pointer;
}

/**
 * Pagination
 */
.pagination{
  width: 100%;
}
.pagination li{
  display: inline;
  margin-left: 3px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  padding: 0px 6px 3px;
}
.pagination li:hover{
  border-color: #428bca;
}
.pagination li.selected{
  border-color: #428bca;
}
.pagination a{
  color: #333;
  text-decoration: none;
}

/**
 * Error
 */
.error-block{
    position: relative;
}
.errorMessage{
    position: absolute;
    width: 250px;
    border: 1px solid red;
    border-radius: 4px;
    padding: 5px;
    background-color: #fff;
    z-index: 9;
    cursor: pointer;
}
.error-textarea{
    top:-125px;
    right: -190px;
}

.error-input{
    left: 220px;
}
.error-username{
    top: -60px;
}
.error-email{
    top: -50px;
}
.error-phone{
    top: -40px;
}
.error-verify{
    top: -30px;
}
.error-feedback{
    border: 1px solid red;
    border-radius: 4px;
    padding: 5px 10px;
    margin-bottom: 15px;
    background-color: #fff;
}

/**
 * Success
 */
.success{
    border: 1px solid green;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

/**
 * Category block
 */
.category-blog{
    border: 1px solid #428bca;
    border-radius: 10px;
    padding: 5px 2px 5px 5px;
    margin: 5px 10px;
    float: left;
}

.category-blog span{
    width: 100%;
    height: 100%;
    padding: 2px 6px 2px 6px;
    margin-left: 3px;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
}
.category-blog span:hover{
    border-color: #428bca;
}
.category-blog a{
    text-decoration: none;
}
.category-conteiner{
    margin: 20px 0px 10px;
}